body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white#;
    color: white;
    text-align: center;
}

header {
    background: #ee9213;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

.games {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    background: #0ea5e9;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 0 10px rgb(160, 12, 12);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #a7c2cd;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #0ea5e9;
}

footer {
    background: #e60808;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
 